html, body {
    height: 100%;
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    background: rgba(14, 64, 73, 0.5);
}

body::-webkit-scrollbar-thumb {
    background: rgba(14, 64, 73, 0.8);
}

*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, p, span, .btn, a {
    font-family: 'Montserrat', sans-serif;
}

/* #### Header ### */
.navbar-collapse {
    margin-left: 5%;
}

.logo {
    width: 50px;
    height: 50px;
}

.navbar .label {
    text-decoration: none;
    color: #000;
    font-size: 1.6rem;
    font-weight: bold;
    text-shadow: 0 1px 1px #000;
}

.navbar-brand img:hover ~ .label, .navbar-brand .label:hover {
    color: #953223;
}

.nav-link {
    position: relative;
    text-decoration: none;
    font-size: 1.1rem;
    text-shadow: 0 0 1px #000;
}

.nav-link.active {
    color: #953223;
    font-weight: bold;
    text-shadow: 1px 0 1px #000;
}

.nav-link:hover {
    right: 0;
    text-decoration: none;
}

.nav-link:hover:after {
    border-color: #953223;
    right: 0;
}

.nav-link:after {
    border-radius: 1em;
    border-top: .2em solid #953223;
    content: "";
    position: absolute;
    right: 100%;
    bottom: .14em;
    left: 0;
    transition: right .4s cubic-bezier(0,.5,0,1), border-color .4s ease-out;
}

.navbar .btn-login {
    background-color: #953223;
}

.navbar .btn-login:hover {
    background-color: rgb(169, 78, 42);
}

li.e-com {
    margin-top: 10px;
}

/* ### Form ### */
.form {
    height: 90%;
    background-color: #FAFAFA;
    padding: 10vh 1vw 10vh 1vw;
}

.form .img-cell {
    background-image: radial-gradient(91.22% 290.08% at 2.78% 8.81%, #313131 0%, #3B312F 29.36%, rgba(149, 50, 35, 0.81) 100%);
}

.form img {
    margin: 5% 9%;
    animation: circle-animation 2.0s linear 1s 1 backwards;
}

form #btnSubmit {
    background-color: #953223;
    color: #FAFAFA;
}

form #btnSubmit:hover {
    background-color: rgb(169, 78, 42);
}

@keyframes circle-animation {
    from { transform: rotate(280deg); opacity: 0 }
    to { transform: rotate(360deg); opacity: 1 }
}

/* ### Map ### */
#gmap_canvas{
    overflow: hidden;
    background: none!important;
    height: 67vh;
    width: 100%;
    margin: 20px 0 -5px 0;
}

/* ### Footer ### */
footer {
    background-color: #FAFAFA;
    height: 15vh;
}

footer .logo {
    width: 70px;
    height: 70px;
    margin-top: 20px;
}

footer p {
    font-size: 1.1rem;
    line-height: 18px;
}

/* ##############
#  MEDIA QUERY  #
############## */

    /* RULES */
    /* Small	     sm	≥576px  */
    /* Medium	     md	≥768px  */
    /* Large	     lg	≥992px  */

@media only screen and (max-width: 576px) {
    /* #### Header ### */
    #btn-menu, #btn-menu:focus {
        box-shadow: 0 0 0 0;
        border: 0 none;
        outline: 0;
    }

    .navbar-collapse {
        margin-left: -12%;
    }

    .nav-link:after {
        border-top: none;
    }

    /* #### Form ### */
    .form {
        height: 125vh;
    }

    /* #### Footer ### */
    footer {
        height: 20vh;
    }
}

@media only screen and (min-width: 577px) and (max-width: 768px) {
    /* #### Header ### */
    #btn-menu, #btn-menu:focus {
        box-shadow: 0 0 0 0;
        border: 0 none;
        outline: 0;
    }

    .navbar-collapse {
        margin-left: -3%;
    }

    .nav-link:after {
        border-top: none;
    }

    /* #### Form ### */
    .form {
        height: 215vh;
    }

    /* #### Footer ### */
    footer {
        height: 35vh;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1366px) and (max-height: 768px) {
    /* #### Header ### */
    .navbar-collapse {
        margin-left: 1.5%;
    }

    .nav-link {
        font-size: 0.8rem;
    }

    li.e-com {
        margin-top: 8px;
        font-size: .8rem;
    }

    /* #### Form ### */
    .form {
        height: 110vh;
    }

    .form img {
        margin: 5% 3%;
    }
}